.wrapper{
  max-width: 1252px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  .list{
    margin-top: 63px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-bottom: 132px;
    @media (max-width:1000px) {
    grid-template-columns: 1fr 1fr; 
    }
    @media (max-width:670px) {
    grid-template-columns: 1fr; 
    padding-left: 30px;
    padding-right: 30px;
    }
    @media (max-width:500px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
