@use "sass:math";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}



$fontFamily: "Roboto Mono";
$fontSize: 14px;
$mainColorText:#fff;
$primary: #ff5920;
$dark: #161317;
$light-dark: #1f1b21;
$accent: #9089bf;
$grey: #534e55;
$light-grey-highlight: #322b35;

$tablet: 991.98px; 
$mobile: 767.98px;
$mobileSmall: 479.98px;

body {
  font-family: $fontFamily;
  color: $mainColorText;
  font-weight: 500;
  line-height: 1;
  font-size: $fontSize;
  background-color: #404040;
}


